.qq-box {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #f5f5f5;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
img {
  /* width: 100px;
  height: 100px; */
  border-radius: 50%;
}
video {
  /* height: 40px; */
  width: 100%;
}
.weather-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.day-forecast {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 150px;
  text-align: center;
}

.weather {
  margin-top: 10px;
}
